In [1]:
import pandas as pd
import numpy as np
# Import train dataset
df2_train= pd.read_csv("exercise_03_train.csv")

In [2]:
# Fill nan of each column with the mean of columns 
X2=df2_train.iloc[:,:100].fillna(df2_train.iloc[:,:100].mean())
y2=df2_train['y']

In [4]:
# Fill nans for categorical values in training dataset

X2 = X2.fillna(X2['x34'].value_counts().index[0])
X2 = X2.fillna(X2['x35'].value_counts().index[0])
X2 = X2.fillna(X2['x68'].value_counts().index[0])
X2 = X2.fillna(X2['x93'].value_counts().index[0])

# recheck the nans for categorical columns
#print(X2.info())

In [5]:
# Create a mask for categorical columns
categorical_feature_mask = X2.dtypes==object

# Turn categorical columns into a list
categorical_cols = X2.columns[categorical_feature_mask].tolist()

#Check the list of categorical columns
categorical_cols

['x34', 'x35', 'x68', 'x93']

In [6]:
# OneHot Encoder on training dataset (X)  

# import labelencoder
from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
X2[categorical_cols] = X2[categorical_cols].apply(lambda col: le.fit_transform(col))
X2[categorical_cols].head(10)

# import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

# instantiate OneHotEncoder
ohe = OneHotEncoder(categorical_features = categorical_feature_mask, sparse=False ) 
# categorical_features = boolean mask for categorical columns
# sparse = False output an array not sparse matrix

# apply OneHotEncoder on categorical feature columns
X2_ohe = ohe.fit_transform(X2) # It returns an numpy array

# turn X into dict
X2_dict = X2.to_dict(orient='records') # turn each row as key-value pairs

# show X_dict
X2_dict

# DictVectorizer
from sklearn.feature_extraction import DictVectorizer

# instantiate a Dictvectorizer object for X
dv_X2 = DictVectorizer(sparse=False) 
# sparse = False makes the output is not a sparse matrix

# apply dv_X on X_dict
X2_encoded = dv_X2.fit_transform(X2_dict)

# show X_encoded
X2_encoded

# vocabulary
vocab2 = dv_X2.vocabulary_

# show vocab
vocab2

# Get dummies
X2 = pd.get_dummies(X2, prefix_sep='_', drop_first=True)

# X head
X2.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x90,x91,x92,x93,x94,x95,x96,x97,x98,x99
0,83.812330,-0.122672,65.391785,6.323478,-18.511031,2.122648,0.319472,7.650422,7.713315,2.789856,...,-144.208496,5.482352,12.211997,1,-3.201565,-9.837196,-21.092011,4.671140,0.588994,-11.417083
1,-0.445312,-0.436077,12.981759,30.716674,-34.981679,-16.712862,0.530105,8.740222,56.044533,0.075118,...,148.348086,-6.083035,-5.098374,1,5.433036,91.724841,4.305371,4.329130,0.371513,8.474528
2,82.927148,0.075277,-29.096012,-20.176841,10.109713,-45.994005,0.618132,7.757838,-69.749060,-1.561335,...,-76.239072,0.200787,-7.174907,1,2.595005,-14.630603,-3.743052,-14.820376,-2.366675,2.613091
3,370.736586,-0.263338,-75.273905,-21.765844,-72.478339,-8.701108,0.332586,2.769763,-35.815423,5.230400,...,-283.535765,4.986738,-6.649765,1,4.349013,-53.825281,-12.243755,-4.257462,-0.352829,-9.641206
4,33.775263,-0.270047,-40.486723,3.990431,-13.733621,-6.185321,-0.733206,-3.325673,-5.055036,-4.331587,...,76.282274,3.793349,-0.865512,1,4.432424,8.605707,-23.823016,-11.913495,-0.139055,-0.318227

In [7]:
# Import testing dataset
df2_test= pd.read_csv("exercise_03_test.csv")

# Fill nans for numerical columns with the meansin testing dataset
df2_test=df2_test.fillna(df2_train.mean())

# Fill nans for categorical values in testing dataset
df2_test = df2_test.fillna(df2_test['x34'].value_counts().index[0])
df2_test = df2_test.fillna(df2_test['x35'].value_counts().index[0])
df2_test = df2_test.fillna(df2_test['x68'].value_counts().index[0])
df2_test = df2_test.fillna(df2_test['x93'].value_counts().index[0])

categorical_cols_test = df2_test.columns[categorical_feature_mask].tolist()
categorical_cols_test

['x34', 'x35', 'x68', 'x93']

In [7]:
# OneHot Encoder on testing dataset (df_test) 

# import labelencoder
from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df2_test[categorical_cols] = df2_test[categorical_cols].apply(lambda col: le.fit_transform(col))
df2_test[categorical_cols].head(10)


# import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

# instantiate OneHotEncoder
ohe = OneHotEncoder(categorical_features = categorical_feature_mask, sparse=False ) 
# categorical_features = boolean mask for categorical columns
# sparse = False output an array not sparse matrix

# apply OneHotEncoder on categorical feature columns
df2_test_ohe = ohe.fit_transform(df2_test) # It returns an numpy array

# turn X into dict
df2_test_dict = df2_test.to_dict(orient='records') # turn each row as key-value pairs

# show X_dict
df2_test_dict

# DictVectorizer
from sklearn.feature_extraction import DictVectorizer

# instantiate a Dictvectorizer object for X
dv_df2_test = DictVectorizer(sparse=False) 
# sparse = False makes the output is not a sparse matrix

# apply dv_X on X_dict
df2_test_encoded = dv_df2_test.fit_transform(df2_test_dict)

# show X_encoded
df2_test_encoded

# vocabulary
vocab_df2_test = dv_df2_test.vocabulary_

# show vocab
vocab_df2_test

# Get dummies
df2_test = pd.get_dummies(df2_test, prefix_sep='_', drop_first=True)

# df_test head
df2_test.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x90,x91,x92,x93,x94,x95,x96,x97,x98,x99
0,120.252886,-0.170668,20.710224,-13.409410,-20.148997,18.649383,0.015563,0.799069,27.749853,0.457208,...,-42.154991,-5.020444,0.142960,1,12.202997,17.206558,-6.698424,10.669022,0.535953,0.794408
1,151.496163,-0.065142,-1.423250,9.250107,-58.582435,-3.730727,0.469421,2.994060,-74.308495,6.637583,...,-98.797446,-2.605834,4.222651,1,0.865352,-31.330463,9.030439,1.769777,-0.265219,-2.511831
2,-46.054317,-0.174997,9.167775,7.611975,-33.043372,-2.258558,-0.308114,-8.216299,-10.016635,-2.693126,...,-246.457481,-3.404679,-4.384774,1,-7.693588,-12.767262,-8.578260,0.202378,-0.901658,0.340148
3,-7.784201,-0.201334,24.985110,21.561477,5.953458,9.298979,0.061949,-1.028978,-46.827620,3.482482,...,301.527167,1.474712,6.158162,1,3.072433,41.619199,-0.255531,1.704807,0.514364,-9.247276
4,-16.692351,-0.602332,-16.602345,41.147584,9.405121,-59.245570,-0.524156,-6.817356,17.554925,4.143827,...,208.742875,3.752589,2.435466,1,-3.313370,-18.762901,-14.614473,17.928303,0.355491,7.571392

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

clf = RandomForestClassifier(
    n_estimators=500,
    criterion='gini',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    bootstrap=True,
    oob_score=False,
    n_jobs=-1,
    random_state=0,
    verbose=0,
    warm_start=False,
    class_weight='balanced'
)

C:\Users\FireAnt\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_curve, auc
%matplotlib inline
matplotlib.rcParams.update({'font.size': 20})

In [33]:
cv = StratifiedKFold(n_splits=5, random_state=123, shuffle=True)
results = pd.DataFrame(columns=['training_score', 'test_score'])
fprs, tprs, scores = [], [], []
    
for (train, test), i in zip(cv.split(X, y), range(5)):
    clf.fit(X.iloc[train], y.iloc[train])
    _, _, auc_score_train = compute_roc_auc(train)
    fpr, tpr, auc_score = compute_roc_auc(test)
    scores.append((auc_score_train, auc_score))
    fprs.append(fpr)
    tprs.append(tpr)

plot_roc_curve(fprs, tprs);
pd.DataFrame(scores, columns=['AUC Train', 'AUC Test'])

TypeError: roc_auc_score() missing 1 required positional argument: 'y_score'

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np

clf = RandomForestClassifier() #Initialize with whatever parameters you want to

# 10-Fold Cross validation
print (np.mean(cross_val_score(clf, X2, y2, cv=10)))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8648248403828026